slides>slide.title-slide {
    background-image: url('gams.jpg');
    background-size: cover;
}
slides>slide.title-slide hgroup h1{
    font-weight: bold;
    color: black;
    position: relative;
    font-size 30;
    top: 80px;
    left: 160px;
}
